# üìä Smart Insights & Analysis on Telco Data
This notebook explores various business insights using pandas.

In [1]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet('customerswith-IMEI-LOCATIOION-USIM-ADS.parquet',engine='pyarrow')

## üîç 15 Smart Insight Questions

In [2]:
# 1. Which region generates the highest average total revenue?
df.groupby('region')['total_rev'].mean().sort_values(ascending=False)

region
BRAZZAVILLE      4004.866606
SANGHA           3412.699161
CUVETTE          2936.491620
POINTE-NOIRE     2643.088438
POOL             2550.199447
CUVETTE-OUEST    2413.193824
KOUILOU          2328.586189
LEKOUMOU         2293.436140
BOUENZA          2258.501945
LIKOUALA         2165.338865
PLATEAUX         2043.353760
NIARI            1748.065590
Name: total_rev, dtype: float64

In [3]:
# 2. Revenue difference between genders
df.groupby('gender')['total_rev'].mean()

gender
F    3125.456663
M    3312.819519
Name: total_rev, dtype: float64

In [4]:
# 3. Monthly revenue trend based on first call date
df['first_call_month'] = pd.to_datetime(df['first_call_date']).dt.to_period('M')
df.groupby('first_call_month')['total_rev'].mean()

first_call_month
1970-01    2994.259978
Freq: M, Name: total_rev, dtype: float64

In [5]:
# 4. Top revenue-generating device brands
df.groupby('brand_name')['total_rev'].mean().sort_values(ascending=False).head(10)

brand_name
Asia Pacific                123091.500000
Kapsys                       42634.500000
Telular                      40070.833333
Qianxing                     33190.000000
Senseit.ru                   30252.000000
Siemens                      28724.112000
Derin Tecnology Products     25742.000000
Ericsson                     22353.958333
Song Ming                    19184.000000
Omix                         19050.600000
Name: total_rev, dtype: float64

In [6]:
# 5. Data revenue by device capability
df.groupby('device_capability')['data_rev'].mean()

device_capability
2G     124.193473
3G     664.340348
4G    1972.593918
5G    4820.676057
No     514.383557
Name: data_rev, dtype: float64

In [7]:
# 6. Revenue per user by city
df.groupby('department_city')['total_rev'].mean().sort_values(ascending=False).head(10)

department_city
BRAZZAVILLE      4005.491643
SANGHA           3412.699161
CUVETTE          2936.491620
POINTE-NOIRE     2643.088438
POOL             2552.723636
CUVETTE-OUEST    2413.193824
KOUILOU          2328.586189
LEKOUMOU         2293.436140
BOUENZA          2259.230738
LIKOUALA         2165.338865
Name: total_rev, dtype: float64

In [8]:
# 7. User distribution by revenue bracket
df['rev_bracket'].value_counts(normalize=True) * 100

rev_bracket
5- Bottom 50    50.003474
4- Next 30      29.998274
3- Next 15      14.998055
2- Next 4        4.000185
1- Top 1         1.000013
Name: proportion, dtype: float64

In [9]:
# 8. Correlation between voice and data revenue
df[['voice_rev', 'data_rev']].corr()

           voice_rev  data_rev
voice_rev   1.000000  0.233423
data_rev    0.233423  1.000000

In [10]:
# 9. Correlation between number of SMS and SMS revenue
df[['nb_sms1', 'nb_sms2', 'nb_sms3']].sum(axis=1).corr(df['sms_rev'])

np.float64(0.6890701174272501)

In [11]:
# 10. Average data usage across 3 periods
df[['volume_mb1', 'volume_mb2', 'volume_mb3']].mean()

volume_mb1    1786.184022
volume_mb2    1848.175683
volume_mb3    1649.712712
dtype: float64

In [12]:
# 11. Districts with highest growth in digital revenue
df['digital_rev_growth'] = df['digital_rev3'] - df['digital_rev1']
df.groupby('district')['digital_rev_growth'].mean().sort_values(ascending=False).head(10)

district
KOMONO      0.519288
MAYOKO      0.508712
MOKEKO      0.336587
BAMBAMA     0.286041
KELLE       0.267994
LOUVAKOU    0.267494
OKOYO       0.199920
MINDOULI    0.184036
DJAMBALA    0.155706
DONGOU      0.154895
Name: digital_rev_growth, dtype: float64

In [13]:
# 12. Top revenue-generating sites
df.groupby('site_id')['total_rev'].sum().sort_values(ascending=False).head(10)

site_id
1303.0    87776964.0
1347.0    66154231.0
1057.0    65753962.0
1338.0    63116454.0
3102.0    62347776.0
1009.0    61350142.0
1351.0    58240704.0
1244.0    57634509.0
1063.0    53888925.0
1325.0    53533767.0
Name: total_rev, dtype: float64

In [14]:
# 13. Revenue by sub_service_code
df.groupby('sub_service_code')['total_rev'].mean().sort_values(ascending=False).head(10)

sub_service_code
POSTPAID    33219.727273
HYBRID       7739.123767
Unknown      3039.343856
PREPAID      2932.606433
Name: total_rev, dtype: float64

In [15]:
# 14. Gender distribution in top revenue bracket
df[df['rev_bracket'] == df['rev_bracket'].max()]['gender'].value_counts(normalize=True) * 100

gender
M    67.820319
F    32.179681
Name: proportion, dtype: float64

In [16]:
# 15. Revenue comparison between USIM and non-USIM users
df.groupby('IsUSIM')['total_rev'].mean()

IsUSIM
N    3088.491073
Y    2966.483651
Name: total_rev, dtype: float64

## üìà 5 Graph-Oriented Relationship Questions (Numbers Only)

In [17]:
# 1. Correlation between total_rev and other types of revenue
df[['total_rev', 'voice_rev', 'data_rev', 'sms_rev']].corr()

           total_rev  voice_rev  data_rev   sms_rev
total_rev   1.000000   0.716554  0.760800  0.357753
voice_rev   0.716554   1.000000  0.233423  0.016871
data_rev    0.760800   0.233423  1.000000  0.019549
sms_rev     0.357753   0.016871  0.019549  1.000000

In [18]:
# 2. Avg total revenue per gender and region
df.groupby(['gender', 'region'])['total_rev'].mean()

gender  region
F       BOUENZA          2107.793603
        BRAZZAVILLE      4050.380535
        CUVETTE          2710.621388
        CUVETTE-OUEST    2360.732413
        KOUILOU          2051.721155
        LEKOUMOU         2140.726205
        LIKOUALA         2133.684340
        NIARI            1693.968652
        PLATEAUX         1987.145327
        POINTE-NOIRE     2795.534064
        POOL             2296.158889
        SANGHA           3336.340611
M       BOUENZA          2474.160524
        BRAZZAVILLE      4327.970472
        CUVETTE          3400.372360
        CUVETTE-OUEST    2845.520469
        KOUILOU          2537.105669
        LEKOUMOU         2556.131905
        LIKOUALA         2453.220226
        NIARI            1931.105914
        PLATEAUX         2311.623515
        POINTE-NOIRE     2773.075218
        POOL             2811.120106
        SANGHA           3847.851005
Name: total_rev, dtype: float64

In [19]:
# 3. Average data volume by device capability and gender
df.groupby(['device_capability', 'gender'])[['volume_mb1', 'volume_mb2', 'volume_mb3']].mean()

                           volume_mb1   volume_mb2   volume_mb3
device_capability gender
2G                F        324.667833   253.971282   133.143457
                  M        298.107244   234.548140   124.688639
3G                F       1024.318089  1005.095156   815.470272
                  M        965.520918   962.852300   788.546956
4G                F       3967.428725  4044.939367  3549.519456
                  M       3891.936263  4032.048624  3557.964882
5G                F       8302.689470  8171.824197  7490.628790
                  M       6927.825406  6826.196144  6214.023383
No                F        904.118572   888.611966   717.348955
                  M        896.630090   882.778985   717.061131

In [20]:
# 4. Avg voice duration by month and gender
df['month'] = pd.to_datetime(df['first_call_date']).dt.month
df.groupby(['month', 'gender'])[['dur_minutes1', 'dur_minutes2', 'dur_minutes3']].mean()

              dur_minutes1  dur_minutes2  dur_minutes3
month gender
1     F         105.690186    103.689815     91.785879
      M         122.564307    120.658143    107.328051

In [21]:
# 5. Avg SMS count by revenue bracket and gender
df.groupby(['rev_bracket', 'gender'])[['nb_sms1', 'nb_sms2', 'nb_sms3']].mean()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_26740\3428344108.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['rev_bracket', 'gender'])[['nb_sms1', 'nb_sms2', 'nb_sms3']].mean()

                        nb_sms1     nb_sms2     nb_sms3
rev_bracket  gender
5- Bottom 50 F        43.075397   36.078049   30.936546
             M        37.899113   32.156451   27.410797
4- Next 30   F       229.103107  215.631173  178.534081
             M       202.003992  191.989670  158.872757
3- Next 15   F       327.723341  298.074158  251.084508
             M       290.391613  272.092530  229.090868
2- Next 4    F       292.894795  265.351766  225.532733
             M       286.139815  266.759152  226.390988
1- Top 1     F       227.575062  205.387071  176.577862
             M       225.880768  212.875399  181.326653